[submodule "submodules/Grounded-Segment-Anything"]
	path = submodules/Grounded-Segment-Anything
	url = https://github.com/IDEA-Research/Grounded-Segment-Anything.git
[submodule "submodules/GLIGEN"]
	path = submodules/GLIGEN
	url = https://github.com/gligen/GLIGEN.git